@model Urenregistratie.Models.RegistratieModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RegistratieModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jaar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jaar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Week)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Week)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maandag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maandag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dinsdag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dinsdag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Woensdag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Woensdag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donderdag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donderdag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrijdag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrijdag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zaterdag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zaterdag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zondag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zondag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medewerker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medewerker.Achternaam)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RegistratieId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
