@model IEnumerable<Server_wk4_les8_1_veel.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Code)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Toetsen</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Code)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>
               @foreach(var test in item.Tests)
               {
                   @test.Name<br>
               }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="Test" asp-action="CreateWithCourseId" asp-route-id="@item.Id" class="btn btn-primary">Toets toevoegen</a>
            </td>
        </tr>
    }
    </tbody>
</table>
