@page
@model quotesCRUD.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-page="./AddQuote">Add New Quote</a>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(models => models.Quotes[0].Id)</th>
            <th>@Html.DisplayNameFor(models => models.Quotes[0].Tekst)</th>
            <th>@Html.DisplayNameFor(models => models.Quotes[0].Rating)</th>
            <th>@Html.DisplayNameFor(models => models.Quotes[0].Bedenker)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Quotes)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => item.Id)</td>
                <td>@Html.DisplayFor(modelitem => item.Tekst)</td>
                <td>@Html.DisplayFor(modelitem => item.Rating)</td>
                <td>@Html.DisplayFor(modelitem => item.Bedenker)</td>
                <td>
                    <a asp-page="./EditQuote" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./DetailsQuote" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./DeleteQuote" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
